
.btn i { font-family:pramukhindic; font-size:24px; line-height: 24px; font-style: normal; vertical-align:middle;}

iframe.detailed-help {height:400px; width:100%; overflow:auto;border:0px;} 
#typingarea { font-family:"pramukhimefamily"; height:150px; padding:0px; border:0px; width:100%; overflow:auto;}



